html * {
	box-sizing: border-box;
}

html {
	height: 100%;
	min-height: 100%;
	min-width: 320px;
	font-family: 'Cervo';
}

body {
	position: relative;
	min-height: 100%;
	padding: 0;
	margin: 0;

}

.wrapper {
 	min-height: 100%;
}

.content-inner {
	min-width: 320px;
	max-width: 100%;
	width: 1180px;	
	padding: 0px 15px;
	margin: 0 auto 0 auto;
}

img {
	width: 700px;
	height: 400px;
}

p {
	text-align: center;
	position: absolute;
	width: 100px;		
	background: rgba(0, 0, 0, 0.7);
	padding: 5px;
	top: 280px;
	left: 20px;
	font-size: 16px;
	color: white;
}

.slider-wrapper {
	margin: 40px auto 0px;
	position: relative;
	width: 702px;
	height: 402px;
	
}

.second-slider {
	margin: 40px auto 0px;
	position: relative;
	width: 702px;
	height: 402px;
	
}

.slider	{
	font-size: 0;
	padding: 0;
	margin: 0px;
	border: 1px solid gray;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.slide.active {
	display: block;
}

.slide {
	display: none;
	font-size: 0px;
	list-style-type: none;
	
}

.left {	
	position: absolute;
	background-image: url("img/control.png");
	width: 24px;
	height: 24px;
	top: 188px;
	left: 10px;
	opacity: 0.4;	
	cursor: pointer;
}

.left:hover {
	opacity: 1;
}

.right {
	position: absolute;
	background-image: url("img/control.png");
	width: 24px;
	height: 24px;
	transform: rotate(180deg);
	top: 188px;
	right: 10px;
	opacity: 0.4;
	cursor: pointer;	
}

.right:hover {
	opacity: 1;
}

.pagination {
	text-align: center;
	margin-top: 10px;
	pointer-events: none;
	
}

.point {
	display: inline-block;	
	width: 22px;
	height: 22px;
	border-radius: 12px 12px 12px 12px;
	background-color: black;
	opacity: 0.4;
	border: 6px solid white;
	cursor: pointer;
	pointer-events: auto;
	font-size: 0px;
}

.point.active {
	opacity: 1;
}




